<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <contextName>Log</contextName>

    <property name="log.path" value="springboot_web/log"/>
    <property name="log.pattern"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5level [%15thread] [%40.40logger{40}] [%10method,%line] : %msg%n"/>
    <property name="ENCODING" value="UTF-8"/>

    <!-- console log -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
            <charset>${ENCODING}</charset>
        </encoder>
    </appender>
    <!-- file log -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <File>${log.path}/log.log</File>
        <append>true</append> <!-- if there is new log, then append into log.log-->
        <encoder>
            <pattern>${log.pattern}</pattern>
            <charset>${ENCODING}</charset>
        </encoder>
    </appender>

    <logger name="com.aryido" level="TRACE">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>
</configuration>